@model MvcCv.Models.Entity.TBLEducation
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/About/Index.cshtml";
}

<h2>AddEducation</h2>



<form class="form-group" method="post">
  
      
    <div></div>
    <div style="margin-top:15px">
        <label>TITLE</label>
        <input type="text" class="form-control" name="Title" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>SUBTITLE</label>
        <input type="text" class="form-control" name="subtitle" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>SUBTITLE2</label>
        <input type="text" class="form-control" name="subtitle2" />

    </div>
    <div></div>
    <div style="margin-top:15px">
        <label>GNO</label>
        <input type="text" class="form-control" name="GNO" />

    </div>

    <div style="margin-top:15px">
        <button class=" btn btn-info" id="Button1">Add Education</button>
    </div>

</form>
