@using MvcCv.Models.Entity

@model List<TBLAbout>


<section class="content">
   
                <div class="text-center">



                    <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">
                </div>

            


                <!-- /.card -->
                <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @foreach (var item in Model)
                            {
                                <strong><i class="fas fa-book mr-1"></i> Phone</strong>

                                <p class="text-muted">
                                    @item.Phone
                                </p>

                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Adres </strong>

                                <p class="text-muted">@item.Adress</p>

                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> Açıklama</strong>

                                <p class="text-muted">
                                    <span class="tag tag-danger">@item.Declarition</span>

                                </p>

                                <hr>

                                <span class="tag tag-danger">@item.Adress</span>


                                <!-- /.card -->
                            }
                            <!-- /.col -->

                            <div>


                            </div>
                            <!-- END timeline item -->
                            <!-- timeline time label -->
                            <!-- /.tab-pane -->
                            <!-- /.tab-pane -->

</section>