@using MvcCv.Models.Entity

@model List<TBLSertificates>

<div class="resume-section-content">
    <h2 class="mb-5">Awards & Certifications</h2>
    <ul class="fa-ul mb-0">
        @foreach (var set in Model)
        {


            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
              @set.title
            </li>
          }
    </ul>
</div>
